.find-path-container {
  position: absolute;
  left: 20px;
  top: 100px;
  width: 350px;
}

.find-path-container .path-container {
  background-color: inherit;
  margin-top: 20px;
}

.find-path-container .paths-list-container {
  padding-right: 10px;
  max-height: 400px;
  overflow-y: scroll;
}

.path-container {
  cursor: pointer;
  transition: 0.3s ease-in-out background-color;
}

.path-container.active {
  background-color: #e6f4ff;
}

.find-path-container .ant-steps-item {
  min-height: 60px;
}

.find-path-container .ant-steps-item:nth-last-child(1) {
  min-height: auto;
}

.find-path-container .ant-steps .ant-steps-item-container .ant-steps-item-tail::after {
  background-color: black;
}
